:root {
    --magenta-color: hsl(300, 69%, 71%);
    --violet-color: hsl(257, 40%, 49%);
}

body {
    background-image: url(images/bg-desktop.svg);
    background-color: var(--violet-color);
    background-repeat: no-repeat;
    color: #fff;
    font-family: 'Open Sans';
    font-size: 14px;
}

.heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 600; /* Regular */
}

.logo img {
    width: 150px;
    height: 45px;
    padding-left: 35px;
    padding-top: 30px;
}

.container {
    display: flex;
    gap: 20px;
    padding: 0 30px;
    margin-top: 40px;
}

.image-container {
    /* flex: 0 0 auto; */
    width: 50%;
}

.image-container img {
    width: 90%;
}

.text-container {
    /* justify-content: center;
    align-items: center; */
}

.text-container h1 {
    margin-top: 0;
    padding-top: 50px;
}

.text-container p {
    margin: 0;
    line-height: 1.8;
}

.text-container button {
    margin-top: 30px;
}
















