:root {
    --magenta-color: hsl(300, 69%, 71%);
    --violet-color: hsl(257, 40%, 49%);
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */

body {
    background-image: url(images/bg-desktop.svg);
    background-color: var(--violet-color);
    background-repeat: no-repeat;
    color: #fff;
    font-family: 'Open Sans';
    font-size: 14px;
}

.heading {
    font-family: 'Poppins';
    font-weight: 600;
}

.logo img {
    width: 150px;
    height: 45px;
    padding-left: 35px;
    padding-top: 30px;
    margin-bottom: 40px;
}

.container {
    display: flex;
    gap: 20px;
    padding: 0 30px;
    width: 100%;
    /* margin-top: 40px; */
    /* margin-left: 30px; */
}

.image-container {
    /* flex: 0 0 auto; */
    width: 50%;
}

.image-container img {
    width: 90%;
}

.text-container {
    flex: 1;
}

.text-container h1 {
    margin-top: 0;
    padding-top: 50px;
}

.text-container p {
    margin: 0;
    line-height: 1.8;
}

.text-container button {
    margin-top: 30px;
    margin-bottom: 50px;
    width: 130px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--violet-color);
}

.social-icons {
    display: flex;
    /* position: absolute;
    bottom: 0;
    right: 0; */
    /* margin-bottom: 30px;
    margin-right: 100px; */
    /* float: right; */
    /* margin-top: 140px; */
    /* padding-left: 60px; */
    width: 100%;
    justify-content: center;
}

.icon-container {
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

@media (max-width: 600px) {

    .logo img {
        width: 120px;
        height: 45px;
        padding-left: 10px;
        padding-top: 20px;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* gap: 20px;
        padding: 0 30px;
        margin-top: 40px; */
        margin-left: 0;
    }

    .image-container {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .image-container img {
        width: 100%;
        height: auto;
    }

    .text-container {
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .social-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        /* height: -10px; */
    }

    .text-container button {
        margin-bottom: 0;
    }

    
}



